<div [class]="'p-3 flex ' +( even ? 'flex-col-reverse' : 'flex-col')">

  <div class="relative p-1">
    <img class="w-full rounded-lg" [src]="product.image" />
    <div [class]="'flex justify-center items-center absolute top-2 right-2 p-1 rounded-md ' + (isFavorite ? 'bg-gray-100' : 'bg-gray-500')">
      <ion-icon name="heart" [color]="isFavorite ? 'danger' : 'light'" (click)="isFavorite = !isFavorite"></ion-icon>
    </div>
  </div>

  <div class="flex flex-col my-3">
    <h2 class="text-lg">
      {{ product.title }}
    </h2>
    <span class="text-neutral-500 text-md">
      {{ product.store.name }}
    </span>
  </div>

</div>
