<ion-content [fullscreen]="true">
  <div class="relative p-5 min-h-screen bg-neutral-100">
    <ion-toolbar color="clear">
      <div slot="start" class="bg-white rounded-lg">
        <ion-buttons>
          <ion-menu-button>
            <ion-icon name="heart" size="large" color="danger"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </div>
      <div class="text-center">
        <ion-title> {{ 'TABS.HOME' | translate}} </ion-title>
      </div>
      <div slot="end">
        <img
          class="p-3"
          src="assets/holders/user.jpg"
          width="48"
          class="rounded-full"
          alt=""
        />
      </div>
    </ion-toolbar>

    <!-- Greetings -->
    <div class="my-10">
      <span class="text-5xl text-neutral-600 font-thin">
        {{ 'HOME.HELLO' | translate }} </span
      ><span class="text-5xl text-neutral-800"></span>
      <p class="text-neutral-400">{{ 'HOME.MESSAGE' | translate }}</p>
    </div>

    <!-- Most popular -->
    <div class="relative my-10 h-auto">
      <app-popular-products></app-popular-products>
    </div>

    <!-- Products -->
    <ng-template #loadingHomeProducts>
      <app-loading></app-loading>
    </ng-template>

    <ng-container
      *ngIf="products$ | async as products; else loadingHomeProducts"
    ></ng-container>
    <div class="flex flex-wrap">
      <app-product-item
        *ngFor="let item of products$ | async; let i = index"
        [product]="item"
        class="w-1/2"
        [even]="i % 2 === 0"
      ></app-product-item>
    </div>
  </div>
</ion-content>
