<ion-content>
  <div>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </div>

  <div class="flex flex-col items-center m-5">
    <div class="w-60">
      <ion-img src="assets/logos/logo.png"></ion-img>
    </div>

    <form class="" [formGroup]="form">
      <ion-list>
        <ion-item>
          <!-- <ion-label position="floating">{{ 'REGISTRATION.USERNAME' | translate }}</ion-label> -->
          <ion-input
            label="{{ 'REGISTRATION.PHONE' | translate }}"
            labelPlacement="floating"
            formControlName="phone"
            type="tel"
            placeholder="{{ 'REGISTRATION.USERNAME' | translate }}"
          ></ion-input>
          <!-- <ion-note slot="error"
                  >{{ 'REGISTRATION.LOGIN_ERROR' | translate }}</ion-note
                > -->
        </ion-item>
        <ion-item>
          <!-- <ion-label position="floating"
                  >{{ 'REGISTRATION.PASS' | translate }}</ion-label
                > -->
          <ion-input
            label="{{ 'REGISTRATION.PASS' | translate }}"
            labelPlacement="floating"
            formControlName="password"
            type="password"
            placeholder="{{ 'REGISTRATION.PASS-HOLDER' | translate}}"
          ></ion-input>
          <!-- <ion-note slot="helper"
                  >{{ 'REGISTRATION.LOGIN_ERROR' | translate }}</ion-note
                > -->
        </ion-item>
        <ion-text color="danger" *ngIf="logingWarn">
          {{ "REGISTRATION.PASS-ERROR" | translate }}
        </ion-text>
      </ion-list>
    </form>

      <ion-button class="ion-center" (click)="onSubmit()"
        >{{ 'REGISTRATION.LOGIN' | translate }}</ion-button
      >

      <ion-text>{{ 'REGISTRATION.NOACCOUNT' | translate}}</ion-text>
      <a routerLink="/register" fill="clear" class="text-purple-950"
        >{{ 'REGISTRATION.REGISTER' | translate }}</a
      >

  </div>


</ion-content>
