<div class="container md:mx-auto mx-5">
  <div mat-subheader class="relative mb-4">
    <div class="text-xl">Clients</div>

    <div class="absolute -top-2 right-0">
      <button mat-mini-fab color="clear" [routerLink]="['', 'users', 'form']">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        الصورة
      </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.image ?? 'assets/holders/user.png'" width="48" />
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        الإسم
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="buttons">
      <th
        mat-header-cell
        *matHeaderCellDef
      ></th>
      <td mat-cell *matCellDef="let element">
        <a
          [routerLink]="['', 'users', 'form', element.id]"
          mat-icon-button
          >
          <!-- matListItemMeta -->
          <mat-icon color="primary">info</mat-icon>
        </a>

        <!-- matListItemMeta -->
        <a (click)="deleteUser(element)" mat-icon-button >
          <mat-icon color="warn">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="phone">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by weight"
      >
        رقم الهاتف
      </th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by symbol"
      >
        العنوان
      </th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="created">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by symbol"
      >
        تاريخ الإنشاء
      </th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
