<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start" class="bg-white rounded-lg">
      <ion-buttons>
        <ion-menu-button>
          <ion-icon name="heart" size="large" color="danger"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </div>

    <ion-title>{{ 'TABS.PRODUCTS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="m-3">
    <ng-template #loadingProducts>
      <app-loading></app-loading>
    </ng-template>
    <!-- Products -->
    <ng-container *ngIf="products$ | async as products; else loadingProducts">
      <div class="flex flex-wrap">
        <app-product-item
          *ngFor="let item of products; let i = index"
          [routerLink]="['', 'tabs', 'products', 'details', item.id ]"
          [product]="item"
          class="w-1/2"
          [even]="i % 2 === 0"
        ></app-product-item>
      </div>
    </ng-container>
  </div>
</ion-content>
